<% content_for :header do %>
    <h1><%=t :Recover %></h1>
<% end %>

<% form_tag password_resets_path do %>
    <fieldset>
      <div data-role="fieldcontain">
        <%=t :Forgot_password_description_select %>
        <%= select_tag "recovery_method", options_for_select(@recovery_methods.map { |r| [t(r), r] }),
                       { :prompt => t(:select_recovery_method), :multiple => false }
        %>
      </div>

      <div data-role="fieldcontain">
        <%= submit_tag t(:Next) %>
      </div>
    </fieldset>
<% end %>