select {
    text-align:center;
    margin-left: 8px;
    width:99%;
}

div.field_with_errors .lbl, div.field_with_errors .error, p.error {
    padding: 2px;
    background-color: #ff6666;
}

div.field_with_errors input {
    width:98%;
}

.date .lbl {
    margin-right:500px;
}

.date .error {
    margin-right:500px;
}

.date.field_with_errors .lbl {
    margin-right:0;
}

.date select, .date.field_with_errors select {
    text-align:center;
    margin-left: 8px;
    width:30%;
}

fieldset textarea {
    width:98%;
    margin-left:5px;
}

input:focus {
    outline: green solid thin;
}

select:focus {
    outline: green solid thin;
}

textarea:focus {
    outline: green solid thin;
}

img.wispmanager_logo {
    vertical-align:sub;
}

h4 {
    text-align:center;
}

fieldset p div {
    width:98%;
    margin-left:5px;
}

fieldset p textarea {
    width:98%;
    margin-left:5px;
}

fieldset p label {
    width:98%;
    margin-left:5px;
}

fieldset p input {
    width:98%;
    margin-left:5px;
}

fieldset input {
    width:98%;
    margin-left:5px;
}

fieldset p select {
    width:99%;
    margin-left:5px;
}

th, td {
    text-align:center;
}

td label {
    font-weight:bold;
    font-style:italic;
}

tr.labels_row td {
    background-color:lightgray;
}

th.sortup img.arrow_up {
    display:inline;
}

th.sortdown img.arrow_up {
    display:none;
}

th.nosort img.arrow_up {
    display:none;
}

th.sortup img.arrow_down {
    display:none;
}

th.sortdown img.arrow_down {
    display:inline;
}

th.nosort img.arrow_down {
    display:none;
}

div.simple_captcha_image {
    text-align:center;
}

div.simple_captcha_wave {
    text-align:center;
}

div.simple_captcha_label {
    text-align:center;
}

div.simple_captcha_field {
    text-align:center;
}

table.branding tr td {
    background:#aaa;
    margin:0;
    border:0;
}

tr:hover td {
    background-color: #ffffee;
}

li > .off {
    background-color: #4A4344 !important;
}

#eula_priv { margin:30px 5px 0 5px; overflow: hidden }

#notice {
    color:green;
    font-weight:bold;
    text-align:right;
}

#operator_info {
    background-color: #eee;
}

#operator_info td strong {
    float: left;
}

#operator_roles {
    background-color: #eee;
}

#remember_me *{
    margin-bottom: 8px;
    width: auto;
}

#loading {
    float: right;
    margin: -1px -5px 0 0;
}

#disable_account, #eula_priv {
    margin-bottom: 20px;
}

#disable_account label {
    display:inline-block;
}

#eula_priv label, #user_status label {
    display:block;
}

#disable_account input, #eula_priv input, #user_status input {
    width: 20px;
}

.account_graph, .user_graph {
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
}

.button {
    margin: 5px 0 15px 7px;
}

.center {
    text-align:center;
}

.hidden {
    display:none;
}

.hint {
    margin: 0 5px 3px 0;
    float:right;
}

.input {
    margin-bottom:20px;
}

.small_graph {
    height:250px;
    margin-bottom: 20px;
}

.big_graph {
    height:350px;
    margin-bottom: 20px;
}

.lbl {
    font-weight: bold;
}

.red {
    color: red;
}

.green {
    color: green;
}

.right {
    float: right;
}

#loading-overlay{
    display: none;
    position:fixed;
    width:60px;
    height:60px;
    left:200px;
    top:200px;
    background:#333 url(../images/spinner_black.gif) no-repeat scroll center center;
    z-index:9999;
    border-radius: 4px;
}

#mask{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
    z-index:10
}

.overlay {
    display:none;
    position: absolute;
    left: 10%;
    top: 10%;
    width: 650px;
    /*height: 450px;*/
    z-index:99;
    background-color:#333;
    border:1px solid #666;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    border-radius: 4px;
}

.nolayout{
    width: 90%;
    height: 93%;
    padding: 3.5% 5%;
    background: #EEEEEE; font: 14px/1.5 Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif
}

.overlay .close {
    background-image:url(../images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
    z-index:100;
    overflow: hidden;
    text-indent: -1000px;
}

.readonly{ background: #EEE }
#confirm_mobile_phone_number{ clear: both }
#confirm_mobile_phone_number .block, #confirm_mobile_phone_number{ overflow: hidden }
#registration{ font-size: 12px }
#verify-mobile-phone .block{ overflow: hidden }
#verify-mobile-phone .grid_4,
#verify-mobile-phone .grid_5{ margin: 0; display: block }
#verify-mobile-phone .grid_4{ width: 260px; margin-right: 25px }
#verify-mobile-phone .grid_5{ width: 390px; }

#registration{ margin: 0 15px 15px }
#registration fieldset{ padding: 10px 25px }
#registration input{ margin-left: 0 }
#registration input[type=text],
#registration input[type=password]{ margin-top: 3px; width: 97%; padding: 5px 1%; font-size: 14px }
#registration select{
    margin: 3px 0 0 0; background: #fff; border-color: gray; height: 32px; line-height: 1; padding: 6px 0; vertical-align: middle; font-size: 12px;
}

#registration #account_submit, #bank-gateway .button{
    display: block; width: 40%; margin: 30px auto;
    font: normal 15px Helvetica, Arial, Freesans, sans-serif;
	color: #545454;
	padding: 10px 20px;
	background: -moz-linear-gradient(top,#ffffff 0%,#cccccc);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),to(#cccccc));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #fafafa;
	-moz-box-shadow: 0px 1px 2px rgba(000,000,000,0.4),inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:0px 1px 2px rgba(000,000,000,0.4),inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:0px 1px 2px rgba(000,000,000,0.4),inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:0px -1px 0px rgba(000,000,000,0.7),0px 1px 0px rgba(255,255,255,0.3);
    letter-spacing: 1px;
    cursor: pointer;
}

#registration a{ text-decoration: underline }
#registration .cancel{ text-align: center }
#eula_priv input{ float: left; margin-top: 7px }
#eula_priv label{ float: right; width: 96%; margin-top: 5px }

/* gestpay S2S */
#bank-gateway fieldset{ padding: 20px 20px 10px }
#bank-gateway .button{
    width: 160px;
    margin: 20px 0 0;
    padding: 6px 7px 5px;
    cursor: pointer;
}
#bank-gateway .button.proceed{ margin: 0 0 5px; }

#bank-gateway select{ width: 60px }
#bank-gateway input, #bank-gateway select{ font-size: 13px }
#id_credit_card_cvv{ width: 70px; text-align: center; font-weight: bold; font-size: 15px; letter-spacing: 2px }
#bank-gateway p.error, #bank-gateway p.notice{
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 0 3px 20px;
}
#bank-gateway p.notice{ background-color: #4B8F30 }
#credit_card_number label{ display: block }
#credit_card_number input{
    width: 95px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
#gestpaylogo{ text-align: center; margin: 20px 0 2px }
input.error{ border: 2px solid red }
#verify-credit-card td{ font-size:13px }