select {
    text-align:center;
    margin-left: 8px;
    width:99%;
}

#bank-gateway p.error {
    background-color: #ff6666;
}

div.field_with_errors span.error{ color: #ce0006 }

div.field_with_errors input {
    width:98%;
}

.date .lbl {
    margin-right:500px;
}

.date .error {
    margin-right:500px;
}

.date.field_with_errors .lbl {
    margin-right:0;
}

.date select, .date.field_with_errors select {
    text-align:center;
    margin-left: 8px;
    width:30%;
}

fieldset textarea {
    width:98%;
    margin-left:5px;
}

input:focus {
    outline: green solid thin;
}

select:focus {
    outline: green solid thin;
}

textarea{ font-size: 14px }

textarea:focus {
    outline: green solid thin;
}

img.wispmanager_logo {
    vertical-align:sub;
}

h4 {
    text-align:center;
}

fieldset p div {
    width:98%;
    margin-left:5px;
}

fieldset p textarea {
    width:95%;
    padding: 10px 2%;
}

fieldset p label {
    width:98%;
    margin-left:5px;
}

fieldset p input {
    width:98%;
    margin-left:5px;
}

fieldset input {
    width:98%;
    margin-left:5px;
}

fieldset p select {
    width:99%;
    margin-left:5px;
}

th, td {
    text-align:center;
}

td label {
    font-weight:bold;
    font-style:italic;
}

tr.labels_row td {
    background-color:lightgray;
}

th.sortup img.arrow_up {
    display:inline;
}

th.sortdown img.arrow_up {
    display:none;
}

th.nosort img.arrow_up {
    display:none;
}

th.sortup img.arrow_down {
    display:none;
}

th.sortdown img.arrow_down {
    display:inline;
}

th.nosort img.arrow_down {
    display:none;
}

div.simple_captcha_image {
    text-align:center;
}

div.simple_captcha_wave {
    text-align:center;
}

div.simple_captcha_label {
    text-align:center;
}

div.simple_captcha_field {
    text-align:center;
}

table.branding tr td {
    background:#aaa;
    margin:0;
    border:0;
}

.hover tr:hover td {
    background-color: #ffffee;
}

li > .off {
    background-color: #4A4344 !important;
}

#eula_priv { margin:30px 5px 0 5px; overflow: hidden }

#notice {
    color:green;
    font-weight:bold;
    text-align:right;
}

#operator_info {
    background-color: #eee;
}

#operator_info td strong {
    float: left;
    margin-left: 10px;
}

#operator_roles { background-color: #eee }
#operator_roles ul{ margin-top: 15px }

#operator_roles li{
    font-size: 13px;
    margin-top: 2px;
}

#remember_me *{
    margin-bottom: 8px;
    width: auto;
}

#loading {
    float: right;
    margin: -1px -5px 0 0;
}

#disable_account, #eula_priv {
    margin-bottom: 20px;
}

#disable_account label {
    display:inline-block;
}

#user_status{ clear: both }
#eula_priv label, #user_status label { display:block }

#disable_account input, #eula_priv input, #user_status input {
    width: 20px;
}

.account_graph, .user_graph {
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
    padding-top: 0;
}
#rad_list_block{ padding-top: 0 }

.button {
    margin: 5px 0 15px 7px;
}

.center {
    text-align:center;
}

.hidden {
    display:none;
}

.hint {
    margin: 0 5px 3px 0;
    float:right;
}

.input {
    margin-bottom:20px;
}

.small_graph {
    height:250px;
    margin-bottom: 20px;
}

.big_graph {
    height:350px;
    margin-bottom: 20px;
}

.lbl {
    font-weight: bold;
}

.red {
    color: red;
}

.green {
    color: green;
}

.right {
    float: right;
}

#loading-overlay, #loading-message{
    display: none;
    position:fixed;
    width:60px;
    height:60px;
    left:200px;
    top:200px;
    background:#333 url(../images/spinner_black.gif) no-repeat scroll center center;
    z-index:9999;
    border-radius: 4px;
}

#loading-message{
    background: #EEE none;
    width: 350px;
    padding: 15px 25px;
    height: auto;
    font-size: 13px;
    font-weight: bold;
    z-index: 9998;
}

#mask{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
    z-index:10
}

.overlay {
    display:none;
    position: absolute;
    left: 10%;
    top: 10%;
    width: 650px;
    /*height: 450px;*/
    z-index:99;
    background-color:#333;
    border:1px solid #666;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    border-radius: 4px;
}

.nolayout{
    width: 90%;
    height: 93%;
    padding: 3.5% 5%;
    background: #EEEEEE; font: 14px/1.5 Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif
}

.overlay .close {
    background-image:url(../images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
    z-index:100;
    overflow: hidden;
    text-indent: -1000px;
}

.readonly, input[disabled=disabled]{ background: #EEE }
#confirm_mobile_phone_number{ clear: both }
#confirm_mobile_phone_number .block, #confirm_mobile_phone_number{ overflow: hidden }
#registration{ font-size: 12px }
#verify-mobile-phone .block{ overflow: hidden }
#verify-mobile-phone .grid_4,
#verify-mobile-phone .grid_5{ margin: 0; display: block }
#verify-mobile-phone .grid_4{ width: 260px; margin-right: 25px }
#verify-mobile-phone .grid_5{ width: 390px; }

#registration{ margin: 0 15px 15px }
#registration fieldset{ padding: 10px 25px }
#registration input{ margin-left: 0 }
input[type=text],
input[type=password]{ margin-top: 3px; width: 97%; padding: 5px 1%; font-size: 14px }
select{
    margin: 3px 0 0 0; background: #fff; border-color: gray; height: 32px; line-height: 1; padding: 6px 0; vertical-align: middle; font-size: 12px;
}

.button{
    display: block; width: 250px; margin: 10px auto 30px;
    font: normal 15px Helvetica, Arial, Freesans, sans-serif;
    text-align: center;
	color: #545454;
	padding: 10px 20px;
	background: -moz-linear-gradient(top,#ffffff 0%,#cccccc);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),to(#cccccc));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #fafafa;
	-moz-box-shadow: 0px 1px 2px rgba(000,000,000,0.4),inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:0px 1px 2px rgba(000,000,000,0.4),inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:0px 1px 2px rgba(000,000,000,0.4),inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:0px -1px 0px rgba(000,000,000,0.7),0px 1px 0px rgba(255,255,255,0.3);
    letter-spacing: 1px;
    cursor: pointer;
}
.button.nomargin{ margin-bottom: 0 }
a.button{ text-decoration: none !important }

#registration #account_submit, #bank-gateway .button{
    width: 40%; margin: 30px auto;
}

#registration a{ text-decoration: underline }
#registration .cancel{ text-align: center }
#eula_priv input{ float: left; margin-top: 7px }
#eula_priv label{ float: right; width: 96%; margin-top: 5px }
#eula_priv .signup{ overflow: hidden; margin-bottom: 0 }
#eula_priv .field_with_errors label{ width: 95% }
#eula_priv div.boolean{ overflow: hidden; margin-bottom: 2px }

#verification-explain{
    font-size: 14px;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px 20px 10px;
    text-align: justify
}

#notice{
    padding: 10px 15px;
    font-size: 14px;
    background-color: #3b6d08; color: #fff
}
#notice p{ margin: 0; text-align: center }
#notice .close{
    background-color: #003500 !important;
    padding: 5px 10px;
    color: white;
    margin-left: 13px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
#notice .close:hover{ background-color: #000 !important }

/* gestpay S2S */
#bank-gateway fieldset{ padding: 20px 20px 10px }
#bank-gateway .button{
    width: 160px;
    margin: 20px 0 0;
    padding: 6px 7px 5px;
    cursor: pointer;
}
#bank-gateway .button.proceed{ margin: 0 0 5px; }

#bank-gateway select{ width: 60px }
#bank-gateway input, #bank-gateway select{ font-size: 13px; height: auto; padding-top: 0; padding-bottom: 0 }
#id_credit_card_cvv{ width: 70px; text-align: center; font-weight: bold; font-size: 15px; letter-spacing: 2px }
#bank-gateway p.error, #bank-gateway p.notice{
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 0 3px 20px;
}
#bank-gateway p.notice{ background-color: #4B8F30 }
#credit_card_number label{ display: block }
#credit_card_number input{
    width: 95px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
#gestpaylogo{ text-align: center; margin: 20px 0 2px }
input.error{ border: 2px solid red }
#verify-credit-card td{ font-size:13px }

#visa_mastercard{
    position: absolute;
    right: 33px;
    bottom: 20px;
}

table.selectable td{ cursor: pointer }
table.selectable tr:hover td{ background-color: #FFFFEE !important }
#operator_roles td { padding-left: 45%; text-align: left; background: #EEE url(../images/delete.png) no-repeat scroll 40% center }
#operator_roles tr.selected td{ background-image: url(../images/accept.png) }
#radius_groups-table td.first{ background: #EEE url(../images/delete.png) no-repeat scroll 110px center  }
#radius_groups-table tr.selected td.first{ background-image: url(../images/accept.png)  }

#configuration_keys .key{ width: 37% }
#configuration_keys .value{ width: 43% }
#configuration_keys .operations{ width: 20% }
#configuration_keys td{ font-size: 12px; cursor: pointer; padding-top: 10px !important; padding-bottom: 10px !important }
#configuration_keys td.value{ font-style: italic }
#container #configuration_keys td p{ margin: 5px 0 !important }

#errorExplanation,
div.error,
div.warning{
	margin: 10px 5px 20px;
	padding: 20px 25px 5px 25px;
	background: #ff6666;
	color: #fff;
	font: normal 14px/25px "Arial", sans-serif;
	border-radius: 3px
}
#errorExplanation h2,
.error h2,
.warning h2{
	width: auto; margin: 0; padding: 0; background: transparent; text-transform: none;
	font-size: 16px; font-weight: bold; margin-bottom: 10px;
}
#errorExplanation li,
.error li,
.warning li{ font-weight: bold }

div.warning{ background-color: #ff8000 }
#notice.error { background-color: #ff6666 !important }

#notice li{ text-align: left }
#notice ul{ margin: 0 }

.field_with_errors input[type=text], .field_with_errors input[type=password]{ border: 1px solid red }

.block.stats{ margin-top: -5px; padding: 0 }
#stats h5{ padding-left: 0 }
#stats input{ width: auto }
#ui-datepicker-div select{ padding: 0; height: auto }

#users{ margin-top: 20px; clear: both }
#users tbody td{ font-size: 12px }

.pagination{ float: left; margin: 4px 10px 15px 0 }

.pagination a{
    padding: 4px 10px;
    margin: 0 3px 0 0;
    background: #333;
    color: #fff;
    border-radius: 3px;
}
.pagination a.button{ font-size: 13px }
.pagination a{ font-size: 13px }
.pagination .current{ font-weight: bold }
.pagination a:hover, .pagination a:focus,
.pagination a.button:hover, .pagination a.button:focus{ background: #000 !important }
.pagination .current a{ background: #d3d3d3 !important; color: #333; cursor: default  }

ul.nomargin,.button.nomargin{ margin-bottom: 0 !important }

#go-to-mobile a{ color: #333 }

.ui-buttonset label{ width: auto !important; min-width: 60px }

#verified-radio, #enabled-radio{ float: left; margin-right: 20px }
#site_info a:hover{ color: #fff; text-decoration: underline }

.social-login{ margin-top: 23px; line-height:35px }
#registration-social-network{ margin: 30px 0;  }

p.separator {
    position: relative;
    height: 30px;
    margin: 24px 0 0;
    line-height: 30px;
}
p.separator .text{
    position: relative;
    background-color: #e9e9e9;
    z-index: 99;
    padding: 0 12px;
}
p.separator .line{
    border-top: 1px solid #aaa;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    top: 15px;
}

.social-button{
    padding: 10px 16px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none !important;
    font-size: 13px;
    color:#fff !important;
    border-color:rgba(0,0,0,0.2)
}

.facebook{
    background-color:#3b5998;
}
.facebook:hover,
.facebook:focus,
.facebook:active{
    background-color:#2d4373;
}

.google{
    background-color:#dd4b39;
}
.google:hover,
.google:focus,
.google:active{
    background-color:#c23321;
}
