table {
    width: 96%;
    font-size: 12px;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    padding: 10px 8px;
    border-bottom: 2px solid #999;
}

td {
    border-bottom: 1px solid #ccc;
    color: #666;
    padding: 6px 8px;
}

tbody tr:hover td {
    color: #000;
}

#footer {
    font-size:80%;
    text-align: center;
}
/* avoid footer covering content */
.ui-content { padding-bottom: 60px }

#notice {
    background-color:#90ee90;
}

#error {
    background-color:#f08080;
}

#listen_captcha {
    text-transform:capitalize;
    font-weight:normal;
}

.account_graph {
    width: 96%;
    height: 220px;
}

.date .lbl {
    width: 200px;
    padding-right: 500px;
}

.date.field_with_errors .lbl {
    padding-right:16px;
}

.error {
    background-color: #ff6666;
    font-weight: normal;
    color: black;
}

.hint {
    margin-top: 15px;
    display:block;
}

.input {
    margin: 5px 0 20px 0;
}

.hidden{ display: none !important }
.readonly{ background: #DDD }

#verification h3{ margin-top: 0 }
#credit_card_number{ overflow: hidden; padding-right: 0 }
#credit_card_number input{ width: 45px !important; float: left; margin-right: 6px; text-align: center }
#expiration_date{ overflow: hidden; padding-right: 0 }
#expiration_date div.ui-select{ width: 100px !important; float: left }
#credit-card-verification label{ display: block; font-size: 14px; font-weight: normal; margin-bottom: 8px }
#expiration_date label{ margin-bottom: 0 }
#gestpaylogo{ text-align: center }
#gestpaylogo img{ width: 100%; max-width: 580px }
#id_credit_card_cvv{ width: 100px }
#visa-mastercard-logo{ text-align: center }
#verification input[type=number]{ -webkit-appearance: none }

#bank-gateway li.error{ font-weight: bold; color: #db0003 }
#bank-gateway input.error{ background: #F0F0F0; border: 1px solid red }

#loading-overlay, #loading-message{
    display: none;
    position:fixed;
    width:60px;
    height:60px;
    left:200px;
    top:200px;
    background:#333 url(../images/spinner_black.gif) no-repeat scroll center center;
    z-index:9999;
    border-radius: 4px;
}

#loading-message{
    background: #EEE none;
    width: 200px;
    padding: 15px 25px;
    height: auto;
    font-size: 13px;
    font-weight: bold;
    z-index: 9998;
}

#mask{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
    z-index:10
}

#verification-explain{
    margin-bottom: 20px;
    background-color: white;
    padding: 20px 20px 10px;
    text-align: justify
}
#verification-explain p{ margin: 0 0 10px }
#new_account .error{ background: transparent; font-weight: bold; color: red }

#errors-container .ui-collapsible-heading{ margin: 0 }
#errors-container .ui-collapsible-content{ padding: 0 }

#errorExplanation,
ul.error,
ul.warning{
	margin: 10px 0 10px;
	padding: 20px 25px 5px 25px;
	background: #ff6666;
	color: #fff;
	font: normal 14px/25px "Arial", sans-serif;
	border-radius: 3px;
    text-shadow: 0 0 0 transparent;
}
#errorExplanation h2,
.error h2,
.warning h2{
	width: auto; margin: 0; padding: 0; background: transparent; text-transform: none;
	font-size: 16px; font-weight: bold; margin-bottom: 10px;
}
#errorExplanation li,
.error li,
.warning li{ font-weight: bold }

ul.warning{ background-color: #ff8000 }
#notice.error { background-color: #ff6666 !important; margin: 0; padding: 0 }

#mobile-registration.has-more-verification-methods li{ display: none }
#verification-methods-container{ display: block !important }
input[disabled=disabled], select[disabled=disabled]{ background-color: #DDD; color: #AAA }

li.facebook .ui-btn-inner{
    background-color:#3b5998;
    border: 0 none;
}
li.facebook .ui-btn-inner:hover,
li.facebook .ui-btn-inner:focus,
li.facebook .ui-btn-inner:active{
    background-color:#2d4373;
}

li.google .ui-btn-inner{
    background-color:#dd4b39;
    border: 0 none;
}
li.google .ui-btn-inner:hover,
li.google .ui-btn-inner:focus,
li.google .ui-btn-inner:active{
    background-color:#c23321;
}

li.facebook, li.google{
    color:#fff !important;
    text-shadow: none;
    border: 0 none;
}

.social-login{ line-height:35px }
#registration-social-network{ margin: 30px 0 }

a.social-button{
    padding: 10px 16px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none !important;
    font-size: 13px;
    color:#fff !important;
    text-shadow: none;
}

a.facebook{
    background-color:#3b5998;
    border-color:rgba(0,0,0,0.2)
}
a.facebook:hover,
a.facebook:focus,
a.facebook:active{
    background-color:#2d4373;
    border-color:rgba(0,0,0,0.2)
}

a.google{
    background-color:#dd4b39;
    border-color:rgba(0,0,0,0.2)
}
a.google:hover,
a.google:focus,
a.google:active{
    background-color:#c23321;
    border-color:rgba(0,0,0,0.2)
}

.center{ text-align: center }
