select {
    text-align:center;
    margin-left: 8px;
    width:99%;
}

div.field_with_errors .lbl, div.field_with_errors .error {
    padding: 2px;
    background-color: #ff6666;
}

div.field_with_errors input {
    width:98%;
}

.date .lbl {
    margin-right:500px;
}

.date .error {
    margin-right:500px;
}

.date.field_with_errors .lbl {
    margin-right:0;
}

.date select, .date.field_with_errors select {
    text-align:center;
    margin-left: 8px;
    width:30%;
}

fieldset textarea {
    width:98%;
    margin-left:5px;
}

input:focus {
    outline: green solid thin;
}

select:focus {
    outline: green solid thin;
}

textarea:focus {
    outline: green solid thin;
}

img.wispmanager_logo {
    vertical-align:sub;
}

h4 {
    text-align:center;
}

fieldset p div {
    width:98%;
    margin-left:5px;
}

fieldset p textarea {
    width:98%;
    margin-left:5px;
}

fieldset p label {
    width:98%;
    margin-left:5px;
}

fieldset p input {
    width:98%;
    margin-left:5px;
}

fieldset input {
    width:98%;
    margin-left:5px;
}

fieldset p select {
    width:99%;
    margin-left:5px;
}

th, td {
    text-align:center;
}

td label {
    font-weight:bold;
    font-style:italic;
}

tr.labels_row td {
    background-color:lightgray;
}

th.sortup img.arrow_up {
    display:inline;
}

th.sortdown img.arrow_up {
    display:none;
}

th.nosort img.arrow_up {
    display:none;
}

th.sortup img.arrow_down {
    display:none;
}

th.sortdown img.arrow_down {
    display:inline;
}

th.nosort img.arrow_down {
    display:none;
}

div.simple_captcha_image {
    text-align:center;
}

div.simple_captcha_wave {
    text-align:center;
}

div.simple_captcha_label {
    text-align:center;
}

div.simple_captcha_field {
    text-align:center;
}

table.branding tr td {
    background:#aaa;
    margin:0;
    border:0;
}

tr:hover td {
    background-color: #ffffee;
}

li > .off {
    background-color: #4A4344 !important;
}

#eula_priv {
    margin:30px 5px 0 5px;
}

#notice {
    color:green;
    font-weight:bold;
    text-align:right;
}

#operator_info {
    background-color: #eee;
}

#operator_info td strong {
    float: left;
}

#operator_roles {
    background-color: #eee;
}

#remember_me *{
    margin-bottom: 8px;
    width: auto;
}

#loading {
    float: right;
    margin: -1px -5px 0 0;
}

#disable_account, #eula_priv {
    margin-bottom: 20px;
}

#disable_account label {
    display:inline-block;
}

#eula_priv label, #user_status label {
    display:block;
}

#eula_priv a{ text-decoration: underline }

#disable_account input, #eula_priv input, #user_status input {
    width: 20px;
}

.account_graph, .user_graph {
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
}

.button {
    margin: 5px 0 15px 7px;
}

.center {
    text-align:center;
}

.hidden {
    display:none;
}

.hint {
    margin: 0 5px 3px 0;
    float:right;
}

.input {
    margin-bottom:20px;
}

.small_graph {
    height:250px;
    margin-bottom: 20px;
}

.big_graph {
    height:350px;
    margin-bottom: 20px;
}

.lbl {
    font-weight: bold;
}

.red {
    color: red;
}

.green {
    color: green;
}

.right {
    float: right;
}



#loading-overlay{
    display: none;
    position:fixed;
    width:60px;
    height:60px;
    left:200px;
    top:200px;
    background:#333 url(../images/spinner_black.gif) no-repeat scroll center center;
    z-index:9999;
    border-radius: 4px;
}

#mask{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
    z-index:10
}

.overlay {
    display:none;
    position: absolute;
    left: 10%;
    top: 10%;
    max-width:900px;
    min-width:400px;
    min-height:500px;
    z-index:99;
    background-color:#333;
    min-height:200px;
    border:1px solid #666;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    border-radius: 4px;
}

.nolayout{
    width: 90%;
    height: 96%;
    padding: 2% 5%;
    background: #EEEEEE; font: 14px/1.5 Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif
}

.overlay iframe{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #EEE;
}
 
.overlay .close {
    background-image:url(../images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
    z-index:100;
    overflow: hidden;
    text-indent: -1000px;
}

.readonly{ background: #EEE }
#confirm_mobile_phone_number{ clear: both }
#confirm_mobile_phone_number .block, #confirm_mobile_phone_number{ overflow: hidden }
#registration, #registration .button{ font-size: 12px }
