table {
    width: 96%;
    font-size: 12px;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    padding: 10px 8px;
    border-bottom: 2px solid #999;
}

td {
    border-bottom: 1px solid #ccc;
    color: #666;
    padding: 6px 8px;
}

tbody tr:hover td {
    color: #000;
}

#footer {
    font-size:80%;
    text-align: center;
}

#notice {
    background-color:#90ee90;
}

#error {
    background-color:#f08080;
}

#listen_captcha {
    text-transform:capitalize;
    font-weight:normal;
}

.account_graph {
    width: 96%;
    height: 220px;
}

.date .lbl {
    width: 200px;
    padding-right: 500px;
}

.date.field_with_errors .lbl {
    padding-right:16px;
}

.error {
    background-color: #ff6666;
    font-weight: normal;
    color: black;
}

.hint {
    margin-top: 15px;
    display:block;
}

.input {
    margin: 5px 0 20px 0;
}