<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<%
    if (Configuration.get('paypal_enabled') == "true" && owner.can_signup_via?(AccountCommon::VERIFY_BY_PAYPAL)) ||
      (Configuration.get('gestpay_enabled') == "true" && owner.can_signup_via?(AccountCommon::VERIFY_BY_GESTPAY))
%>

    <% if owner.new_record? %>
        <div class="verification-block hidden" id="verify-credit-card">
          <table>
            <tr>
              <td>
                <% if @credit_card_verification_cost > 0 %>
                  <%= t(:credit_card_instructions, :count => number_to_currency_custom(@credit_card_verification_cost)).html_safe %>
                <% else %>
                  <%= t(:credit_card_instructions_free).html_safe %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
    <% end %>

<% end %>