<% content_for :after_defaults do %>
    <%= javascript_include_tag 'owums.logins_graph' %>
<% end %>

<h2><%=h t(:Login_count) %></h2>
<div class="block">
  <div class="block big_graph" id="logins_graph">
    <h5 class="center"><%=t :Loading_data %> <%= image_tag "spinner.gif" %></h5>
  </div>
</div>

