<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% content_for :after_defaults do %>
    <%= javascript_include_tag 'owums.registered_users_daily_graph' %>
<% end %>

<h2><%= t(:Registered_users_daily) %></h2>
<div class="block stats">
  <div class="block big_graph" id="registered_users_daily_graph">
    <h5 class="center"><%=t :Loading_data %> <%= image_tag "spinner.gif" %></h5>
  </div>
</div>

