defaults: &defaults
  url: "https://owmw.domain.com/url"
  username: "owmw"
  password: "password"

production:
  - {url: "http://owmw1.domain.com/url", username: "owmw", password: "password"}
  - {url: "http://owmw1.domain.com/url", username: "owmw", password: "password"}

development:
  <<: *defaults

test:
  <<: *defaults
