<div style="text-align:center;font-size:200%">
    <p style="font-size:80%"><%=t :No_ajax_verification_success %>, <%= link_to t(:click_here), edit_mobile_phone_password_reset_path(@account.perishable_token)%></p>
</div>

