<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% content_for :after_defaults do %>
    <%= javascript_tag "$(function(){
        owums.hideWhenJsIsAvailable('.no_js');
        owums.periodicallyCheckVerification({
            frequency: 2,
            url: '#{ url_for(:action => 'verification', :id => @single_access_token) }',
            update: '#verification'
        });
    }); " %>
<% end %>

<% content_for :header do %>
    <h1><%=t :Verification %></h1>
<% end %>

<% content_for :back do %>
    <%= mobile_link_back_to root_path, 'data-ajax' => false %>
<% end %>

<div id="verification">
  <%= render :partial => 'verification' %>
</div>
