<% content_for :after_defaults do %>
    <%= javascript_tag "owums.hideWhenJsIsAvailable('.no_js');" %>
<% end %>

<div class="grid_12">

  <div id="verification_div">
    <%= render :partial => 'verification' %>
  </div>
</div>
<div class="clear"></div>

<%= periodically_call_remote( :url => { :action => 'verification' , :id => @single_access_token },
                              :frequency => '2',
                              :update => 'verification_div')
%>
