<div class="grid_6 prefix_3 suffix_3">
  <div class="box">
    <div class="block" id="invalid_token">
      <h1><%=t :Invalid_request %></h1>
      <%=t :Cookies_disabled_or_session_expired %>
      <br />
      <%= link_to t(:Back), :back %>
    </div>
  </div>
</div>
<div class="clear"></div>
