<div style="text-align:center;font-size:200%">
  <div style="background-color:red">
    <%=t :Verification_time_expired %><br />
    <%= link_to t(:Repeat_registration), account_registration_path, 'data-direction' => 'reverse' %>
  </div>
  <br />
</div>
