<div class="block" id="registration">
    <h3><%= t :Gestpay_verified_by_visa_error_heading %></h3>
    <p><%= t :Gestpay_verified_by_visa_error_text %></p>
    <p><a href="<%= account_path %>"><%= t :Repeat_procedure %></a></p>
</div>