<% content_for :header do %>
    <h1><%=t :Register %></h1>
<% end %>

<% form_for @account, :builder => ErrorFormBuilder, :url => account_path do |f| %>
    <fieldset>
      <legend><%=t :Register %></legend>
      <p><%=t f.error_messages %></p>
      <%= render :partial => "form", :object => f, :locals => { :countries => @countries, :mobile_prefixes => @mobile_prefixes } %>
    </fieldset>
<% end %>
